{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div class="flex font-sans mt-10">
    <div class="flex-none w-48 relative">
      <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="" class="absolute inset-0 w-full h-full object-cover" loading="lazy" />
    </div>
    <form class="flex-auto p-6">
      <div class="flex flex-wrap">
        <h1 class="flex-auto text-lg font-semibold text-slate-900">
          {{ product.name }}
        </h1>
        <div class="text-lg font-semibold text-slate-500">
          ${{ product.price }}
        </div>
        <h2 class="w-full text-sm font-sans text-slate-900">
          <a href="{{ product.category.get_absolute_url }}">
            {{ product.category }}
          </a>
        </h2>
        
        <div class="w-full flex-none text-sm font-semibold text-slate-700 mt-2">
          In stock
        </div>
        <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2">
          {{ product.description|linebreaks }}
        </div>
      </div>
      <div class="flex space-x-4 mb-6 text-sm font-medium">
        <div class="flex-auto flex space-x-4 mt-10">
          <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" type="submit">
            Buy now
          </button>
          <button class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" type="button">
            Add to cart
          </button>
        </div>
        <button class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200" type="button" aria-label="Like">
          <svg width="20" height="20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
          </svg>
        </button>
      </div>
    </form>
  </div>
  {% endblock %}